@layer components {

  .mitra-header {
    @apply bg-gray-800 text-white
           text-center pt-4 pb-8
           -mt-4;
  }

  .mitra-wrapper {
    @apply bg-gray-100 py-12;
  }

  .mitra-card {
    @apply bg-white p-8
           rounded-xl shadow
           flex flex-col;
  }

  .mitra-btn {
    @apply text-sm font-medium
           px-4 py-2 rounded-md
           bg-primary text-white
           hover:bg-secondary
           transition
           mx-auto mt-6;
  }

}
