@tailwind components;

/* PAGE */
.mitra-page {
  @apply pt-16;
}

/* HEADER (COOKLAT MUDA) */
.mitra-header {
  @apply bg-gray-400
         pt-4 md:pt-4
         pb-8
         text-center
         text-white
         -mt-4;
}

.mitra-header h1 {
  @apply text-4xl font-bold;
}

.mitra-header p {
  @apply mt-4 max-w-xl mx-auto;
}

/* CONTENT BG GREY */
.mitra-content {
  @apply bg-gray-100 py-16 px-4;
}

.mitra-content h2 {
  @apply text-2xl font-semibold text-center mb-10;
}

/* GRID */
.mitra-grid {
  @apply max-w-6xl mx-auto grid grid-cols-2 md:grid-cols-4 gap-6 mb-16;
}

/* CARD */
.mitra-card {
  @apply bg-white border rounded-xl p-6 text-center
         hover:shadow-lg transition;
}

.mitra-card span {
  @apply font-semibold block;
}

.mitra-card a {
  @apply text-accent text-sm mt-2 inline-block;
}

/* OFFLINE */
.mitra-offline {
  @apply max-w-6xl mx-auto grid md:grid-cols-2 gap-8;
}

.mitra-offline-card {
  @apply bg-white p-8 rounded-xl shadow
         flex flex-col;
  
  .mitra-offline-card a {
  @apply mt-6 inline-block;
  }
}
